:root {

}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
    transition: all 0.4s cubic-bezier(0.65, 0, 0.35, 1);
    // background-color: var(--default-background);
}
body {
    // font-family: var(--font-family);
    font-size: 1.6rem;
    line-height: 1.5;
    // text-rendering: optimizeSpeed;
    // color: var(--text-primary-color);
    overflow-y: overlay;
}