.wrapper {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.6);
    align-items: center;
    justify-content: center;
    z-index: 1000;
    display: none;
    &.open {
        display: flex;
    }
    .modal-container {
        max-height: 898px;
        max-width: 855px;
        min-height: 391px;
        min-width: 348px;
        width: 539px;
        border-radius: 12px;
        background: #fff;
        .modal-header {
            border-bottom: 1px solid rgb(219, 219, 219);
            display: flex;
            height: 44px;
            width: 100%;
            .title {
                display: flex;
                align-items: center;
                color: rgb(var(--text-primary-color));
                flex-grow: 1;
                font-size: 1.6rem;
                font-weight: 600;
                justify-content: center;
                line-height: 24px;
                margin: 0;
                margin-top: 6px;
            }
        }
        .content {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            padding: 24px;
            min-height: 400px;
            .icon {
                margin-bottom: 8px;
            }
            .text {
                font-size: 20px;
                text-align: center;
                font-weight: 400;
                color: var(--text-primary-color);
                margin-bottom: 16px;
            }
            .btn-upload-file {
                background-color: rgb(0, 149, 246);
                border-radius: 8px;
                color: rgb(255, 255, 255);
                cursor: pointer;
                display: block;
                font-size: 14px;
                font-weight: 600;
                padding: 9px 16px;
                height: 32px;
                &:hover {
                    background-color: rgb(24, 119, 242);
                }
            }
            input[type='file'] {
                display: none;
            }
        }
    }
    .modal-close {
        position: absolute;
        top: 10px;
        right: 10px;
        padding: 8px;
        color: #fff;
        cursor: pointer;
    }
}
