.wrapper {
    display: flex;
    align-items: center;
    padding: 8px 24px;
    cursor: pointer;
    &:hover {
        background: rgba(0, 0, 0, 0.05);
    }
    .avatar {
        width: 44px;
        height: 44px;
        border-radius: 50%;
        object-fit: cover;
    }
    .content {
        flex: 1;
        margin-left: 12px;
        padding-top: 9px;
        padding-right: 16px;
        line-height: 18px;
        font-size: 1.4rem;
        font-weight: 400;
        .user-name {
            font-weight: 600;
        }
    }
}
