.wrapper {
    --feed-sidebar-width: 383px;

    width: var(--feed-sidebar-width);
    padding-left: 64px;
    margin-top: 36px;
    display: flex;
    flex-direction: column;
    .head {
        .current-user {
            padding: 0 16px;
            background: transparent;
        }
    }
    .body {
        margin: 24px 0 22px;
        .head-body {
            display: flex;
            align-items: center;
            justify-content: space-between;
            line-height: 14px;
            padding: 0 16px;
            margin-top: 6px;
            .text {
                font-size: 14px;
                font-weight: 600;
                color: rgb(115, 115, 115);
            }
            .btn {
                color: rgb(2, 2, 2);
                font-size: 12px;
                font-weight: 600;
                &:hover {
                    opacity: 0.5;
                }
            }
        }
        .list-user {
            margin-left: 4px;
            margin-bottom: 4px;
            display: flex;
            flex-direction: column;
            align-items: stretch;
            padding-top: 6px;
            padding-bottom: 8px;
            .user-item {
                padding-left: 16px;
                padding-right: 16px;
                background: transparent;
            }
        }
    }
    .footer {
        padding: 0 16px;
        margin-bottom: 8px;
        .more {
            display: flex;
            flex-wrap: wrap;
            margin-bottom: 18px;
            .more-item {
                font-size: 12px;
                color: rgb(199, 199, 199);
                font-weight: 400;
                list-style: none;
                &:not(:last-of-type)::after {
                    content: '\00B7';
                    margin: 0 4px;
                }
            }
        }
        .infor {
            text-transform: uppercase;
            font-size: 12px;
            color: rgb(199, 199, 199);
            font-weight: 400;
        }
    }
}
