.translate_x_0 {
    transform: translateX(0) !important;
}
.wrapper {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 73px;
    width: 397px;
    height: 100vh;
    padding: 8px 0;
    overflow-y: hidden;
    box-shadow: 4px 0 24px rgba(0, 0, 0, 0.15);
    background-color: #fff;
    border-right: solid 1px rgb(219, 219, 219);
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
    z-index: -1;
    transition: transform ease 0.4s;
    transform: translateX(calc(-100% - 73px));
    .head {
        padding: 14px 14px 24px 24px;
        margin: 8px 0;
        .title {
            line-height: 30px;
            margin: 0;
            color: var(--text-primary-color);
            font-weight: 600;
            display: block;
            font-size: 2.3rem;
        }
    }
    .content {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        .form-search {
            margin: 0 16px;
            min-width: 125px;
            height: 40px;
            margin-bottom: 16px;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            .form-input {
                width: 100%;
                height: 100%;
                font-size: 1.6rem;
                padding: 3px 16px;
                padding-top: 12px;
                border-radius: 8px;
                color: var(--text-primary-color);
                background-color: rgb(239, 239, 239);
                &::placeholder {
                    color: rgb(115, 115, 115);
                }
            }
            .icon {
                width: 18px;
                height: 18px;
            }
            .clear,
            .loading {
                width: 18px;
                height: 18px;
                position: absolute;
                right: 12px;
                top: 50%;
                transform: translateY(-50%);
                color: rgba(22, 24, 35, 0.34);
            }
            .clear {
                cursor: pointer;
            }
            .loading {
                animation: spinner 0.8s linear infinite;
            }

            @keyframes spinner {
                from {
                    transform: translateY(-50%) rotate(0);
                }
                to {
                    transform: translateY(-50%) rotate(360deg);
                }
            }
        }
        .result {
            height: 100vh;
            overflow-y: auto;
        }
    }
}

.skeleton {
    padding: 0px 24px;
    padding-top: 8px;
    margin-bottom: -10px;
}
.not-found {
    padding: 16px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(115, 115, 115);
    font-size: 1.4rem;
}
